head
  div.nav
      h1 IT Blogs
  ul
    li
      a(href='/') Home
    li
      a(href='/profile?firstname=Henri') Profile
    li
      a(href='/blogs') Blogs

  input.search(
    type='text'
    name='search'
    placeholder='Enter a search term...'
  )