extends ../public/modules/routes/layout

block content
    div.container
      div.person
      a(href='/profile?firstname=Henri')
        img(src='/images/henri.png' )

        div.person
        a(href='/profile?firstname=Henri')
          img(src='/images/blog.jpg' )


