extends ../public/modules/routes/layout

block content
    div.container
        a(href='/profile?firstname=Henri')
            img(src='/images/henri.png' )

        a(href='/blogs')
            img(src='/images/blog.jpg' )

        a(href='/quiz')
            img(src='/images/quiz_front.jpeg' )


